<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="cad-container">
        <p>{{codigoTarefa}}</p>
        <mat-form-field appearance="outline" class="MidleWidth">
            <mat-label>Código</mat-label>
            <input matInput formControlName="codigo" autocomplete="false">
        </mat-form-field>
        <mat-form-field appearance="outline" class="MaxWidth">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao">
            <mat-error *ngIf="!formulario.get('descricao')?.valid && formulario.get('descricao')?.touched">Deu erro!</mat-error>
        </mat-form-field>
    </div>
    <button type="submit" [disabled]="itsDisabled()">Submit</button>
    <app-form-debug [form]="formulario"></app-form-debug>
</form>
