<p>
    <mat-toolbar>
        <span><mat-label>{{labelCadastro}}</mat-label></span>
    </mat-toolbar>
</p>
<form [formGroup]="formulario" autocomplete="off">
    <div class="cad-container">
        <mat-form-field appearance="outline" class="MidleWidth">
            <mat-label>CÓDIGO</mat-label>
            <input matInput formControlName="codigo" [readonly]="ReadOnlyKey">
        </mat-form-field>
        <mat-form-field appearance="outline" class="LargerWidth">
            <mat-label>Motivo</mat-label>
            <input matInput formControlName="motivo" [readonly]="readOnly">
            <mat-error *ngIf="formulario.get('motivo')?.status == 'INVALID' && touchedOrDirty('motivo')">Motivo - No mínimo 03 letras e no máximo 20 letras</mat-error>
        </mat-form-field>
    </div>
    <div class="cad-container">
        <mat-form-field appearance="outline" class="MidleWidth">
            <mat-label>Produtivo</mat-label>
            <input matInput formControlName="produtivo" [readonly]="readOnly">
            <mat-error *ngIf="formulario.get('produtivo')?.status == 'INVALID' && touchedOrDirty('produtivo')">Apenas Sim Ou Não</mat-error>
        </mat-form-field>
    </div>
    <div class="button-container-right">
        <button mat-raised-button color="primary" *ngIf="idAcao != 3" (click)=onSubmit()>{{acao}}</button>
        <button mat-raised-button color="accent" (click)="onCancel()">{{getLabelCancel()}}</button>
    </div>
</form>
