.Browse {
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed #1C6EA4;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 400px;
    width: 80%;
}

table {
    width: 100%;
    cursor: pointer;
}

.Cabecalho {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    background-color: coral;
    text-align: center;
}

.Detalhe {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    color: black;
}

.linha {
    background-color: white;
}

.linha :hover {
    background-color: yellow;
}