<!--http://jsfiddle.net/danield770/sNwrs/3158/-->
<p>
    <mat-toolbar>
        <span>Grp de Usuários: </span>
        <form [formGroup]="parametros">
            <span class="example-spacer">
          <!--[if !IE]> --><div class="notIE"> <!-- <![endif]-->
            <span class="fancyArrow"></span>
            <label for="ordem" class="label_tb">Ordenação:</label>
            <select formControlName="ordenacao" class="select_tb" name="ordem">
                <option *ngFor="let op of opcoesOrdenacao" [value]="op">
                  {{op}}
                </option>
              </select>
            <!--[if !IE]> -->
            </div>
            <!-- <![endif]-->
            <!--[if !IE]> -->
            <div class="notIE">
                <!-- <![endif]-->
                <span class="fancyArrow"></span>
                <label for="ordem" class="label_tb">Pesquisar Por:</label>
                <select class="select_tb" formControlName="campo">
                  <option *ngFor="let op of opcoesCampo" [value]="op">
                    {{op}}
                  </option>
                </select>
                <!--[if !IE]> -->
            </div>
            <!-- <![endif]-->
            <input type="text" class="input_tb" formControlName="filtro" placeholder="Conteúdo Para Pesquisa.">
            </span>
        </form>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="getGrupos()">
    <mat-icon>rotate_right</mat-icon>
  </button>
        <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(getAcoes()[ 'Inclusao']) " [matTooltip]="getTexto().incluir" matTooltipPosition="above">
   <mat-icon>add_circle_outline</mat-icon>
</button>
    </mat-toolbar>
</p>
<div class="Browse">
    <div class="linha" *ngFor="let grupo of grupos ; index as id">
        <mat-card class="example-card" (click)="escolha(getAcoes()['Consulta'],grupo)">
            <mat-card-actions>
                <span class="button-container-right ">
            <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(getAcoes()[ 'Edicao'],grupo) "
                [matTooltip] = "getTexto().alterar"
                matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
              <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(getAcoes()[ 'Exclusao'],grupo)"
                [matTooltip] = "getTexto().excluir"
                matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
            </mat-card-actions>
            <mat-card-content>
                <mat-label class="labelTitleFirst">CÓDIGO:</mat-label>
                <mat-label class="labelData">{{grupo.id}}</mat-label>
                <mat-label class="labelTitle">Razão Social:</mat-label>
                <mat-label class="labelData">{{grupo.grupo}}</mat-label>
            </mat-card-content>

        </mat-card>
    </div>

</div>