<!--http://jsfiddle.net/danield770/sNwrs/3158/-->
<p>
    <mat-toolbar>
        <span>Projetos: </span>
        <form [formGroup]="parametros">
            <span class="example-spacer">
          <!--[if !IE]> --><div class="notIE"> <!-- <![endif]-->
            <span class="fancyArrow"></span>
            <label for="ordem" class="label_tb">Ordenação:</label>
            <select formControlName="ordenacao" class="select_tb" name="ordem">
                <option *ngFor="let op of opcoesOrdenacao" [value]="op">
                  {{op}}
                </option>
              </select>
            <!--[if !IE]> -->
            </div>
            <!-- <![endif]-->
            <!--[if !IE]> -->
            <div class="notIE">
                <!-- <![endif]-->
                <span class="fancyArrow"></span>
                <label for="ordem" class="label_tb">Pesquisar Por:</label>
                <select class="select_tb" formControlName="campo">
                  <option *ngFor="let op of opcoesCampo" [value]="op">
                    {{op}}
                  </option>
                </select>
                <!--[if !IE]> -->
            </div>
            <!-- <![endif]-->
            <input type="text" class="input_tb" formControlName="filtro" placeholder="Conteúdo Para Pesquisa.">
            </span>
        </form>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="getProjetos()">
    <mat-icon>rotate_right</mat-icon>
  </button>
    </mat-toolbar>
</p>
<div class="Browse">
    <div class="linha" *ngFor="let projeto of projetos ; index as id">
        <mat-card class="example-card" (click)="escolha(projeto,getAcoes()['Consulta'])">
            <mat-card-actions>
                <span class="button-container-right ">
                <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,99)"
                  [matTooltip] = "getTexto().tarefas_incluir"
                  matTooltipPosition="above">
                  <mat-icon>assignment</mat-icon>
                </button>
            <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,getAcoes()[ 'Inclusao'])"
                [matTooltip] = "getTexto().incluir"
                matTooltipPosition="above">
                <mat-icon>add_circle_outline</mat-icon>
            </button>
              <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,getAcoes()[ 'Edicao'])"
                [matTooltip] = "getTexto().alterar"
                matTooltipPosition="above">
                <mat-icon>edit</mat-icon>
            </button>
              <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(projeto,getAcoes()[ 'Exclusao'])"
                [matTooltip] = "getTexto().excluir"
                matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
            </mat-card-actions>
            <mat-card-content>
                <mat-label class="labelTitleFirst">Código:</mat-label>
                <mat-label class="labelData">{{projeto.id}}</mat-label>
                <mat-label class="labelTitle">Descrição:</mat-label>
                <mat-label class="labelData">{{projeto.descricao}}</mat-label>
                <mat-label class="labelTitle">Situação:</mat-label>
                <mat-label class="labelData">{{projeto.status}}</mat-label>
            </mat-card-content>
            <mat-card-content>
                <mat-label class="labelTitleFirst">Data Proposta:</mat-label>
                <mat-label class="labelData">{{projeto.dataprop | date : 'dd/MM/yyyy'}}</mat-label>
                <mat-label class="labelTitle">Data Projeto:</mat-label>
                <mat-label class="labelData">{{projeto.dataproj | date : 'dd/MM/yyyy' }}</mat-label>
                <mat-label class="labelTitle">Data Encerramento:</mat-label>
                <mat-label class="labelData">{{projeto.dataenc | date : 'dd/MM/yyyy' }}</mat-label>
            </mat-card-content>
            <mat-card-content>
                <mat-label class="labelTitleFirst">Diretor:</mat-label>
                <mat-label class="labelData">{{projeto.diretor_razao}}</mat-label>
                <mat-label class="labelTitle">Cliente:</mat-label>
                <mat-label class="labelData">{{projeto.cliente_razao}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>

</div>