<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="cad-container">
        <mat-form-field appearance="outline" class="MidleWidth">
            <mat-label>Data Feriado</mat-label>
            <input matInput formControlName="datfer">
        </mat-form-field>
        <mat-form-field appearance="outline" class="MaxWidth">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao">
        </mat-form-field>
    </div>
    <button type="submit">Submit</button>
    <app-form-debug [form]="formulario"></app-form-debug>
</form>