<!--http://jsfiddle.net/danield770/sNwrs/3158/-->
<P>CrudTrabalhoProjetoComponent</P>
<p>
    <mat-toolbar>
        <span>Trabalhos: </span>
        <form [formGroup]="parametros">
            <span class="example-spacer">
        <!--[if !IE]> --><div class="notIE"> <!-- <![endif]-->
          <span class="fancyArrow"></span>
            <label for="ordem" class="label_tb">Ordenação:</label>
            <select formControlName="ordenacao" class="select_tb" name="ordem">
              <option *ngFor="let op of opcoesOrdenacao" [value]="op">
                {{op}}
              </option>
            </select>
            <!--[if !IE]> -->
            </div>
            <!-- <![endif]-->
            <!--[if !IE]> -->
            <div class="notIE">
                <!-- <![endif]-->
                <span class="fancyArrow"></span>
                <label for="ordem" class="label_tb">Pesquisar Por:</label>
                <select class="select_tb" formControlName="campo">
                <option *ngFor="let op of opcoesCampo" [value]="op">
                  {{op}}
                </option>
              </select>
                <!--[if !IE]> -->
            </div>
            <!-- <![endif]-->
            <input type="text" class="input_tb" formControlName="filtro" placeholder="Conteúdo Para Pesquisa.">
            </span>
        </form>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="getProjetos()">
  <mat-icon>rotate_right</mat-icon>
</button>
    </mat-toolbar>
</p>
<div class="Browse">
    <div class="linha" *ngFor="let tarefa_projeto of tarefas_projetos ; index as id">
        <mat-card class="example-card" (click)="escolha(tarefa_projeto,getAcoes()['Consulta'])">
            <mat-card-actions>
                <span class="button-container-right ">
                  <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(tarefa_projeto,99)"
                     [matTooltip] = "getTexto().trabalhos_incluir"
                     matTooltipPosition="above">
                    <mat-icon>assignment</mat-icon>
                  </button>
                </span>
            </mat-card-actions>
            <mat-card-content>
                <mat-label class="labelTitleFirst">Projeto:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.id_projeto}}</mat-label>
                <mat-label class="labelTitle">Diretor:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.diretor_razao}}</mat-label>
                <mat-label class="labelTitle">Tarefa:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.id_tarefa}}</mat-label>
                <mat-label class="labelTitle">Descrição:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.tarefa_descricao}}</mat-label>
            </mat-card-content>
            <mat-card-content>
                <mat-label class="labelTitleFirst">Responsável:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.resp_razao}}</mat-label>
            </mat-card-content>
            <mat-card-content>
                <mat-label class="labelTitleFirst">Data Inicial:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.inicial | date : 'dd/MM/yyyy'}}</mat-label>
                <mat-label class="labelTitle">Data Final:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.final | date : 'dd/MM/yyyy'}}</mat-label>
                <mat-label class="labelTitle">Horas Plan.:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.horasplan | horaSexagenal}}</mat-label>
                <mat-label class="labelTitle">Horas Exec.:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.horasexec | horaSexagenal}}</mat-label>
                <mat-label class="labelTitle">Situação:</mat-label>
                <mat-label class="labelData">{{tarefa_projeto.status | simNao}}</mat-label>
            </mat-card-content>
        </mat-card>
    </div>
</div>