<!--
  https://assisrafael.github.io/angular-input-masks/
-->
<div class="div-barra" *ngIf="(idAcao == 99)">
    <mat-toolbar>
        <span class="example-spacer">{{getTitulo()}}</span>
        <button mat-icon-button aria-label="Example icon-button with share icon " matTooltip="Novo Apontamento" matTooltipPosition="above" (click)="adicao(getAcoes()['Inclusao'])">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onRetorno()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    </mat-toolbar>
    <span class="example-spacer">
          <form [formGroup]="parametro" autocomplete="off" class="cad-container" >
              <mat-label class="usuario">Usuário:{{usuario.razao}}</mat-label>
              <mat-form-field appearance="outline" class="MidleWidth">
                <mat-label>Data:</mat-label>
                <input matInput [matDatepicker]="dataDatePicker" formControlName="data" >
                <mat-datepicker-toggle matSuffix [for]="dataDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #dataDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field field appearance="outline" class="LargerWidth" >
                <mat-label>Atividades</mat-label>
                <mat-select formControlName="id_atividade" (selectionChange)="onAtividadeChange()">
                    <mat-option *ngFor="let atividade of atividades" [value]="atividade.id">
                        {{atividade.id_projeto}}-{{atividade.estru_descri}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
              <button mat-icon-button aria-label="Example icon-button with share icon " matTooltip="Atualizar" matTooltipPosition="above" (click)="onRefresh()" >
                <mat-icon>rotate_right</mat-icon>
              </button>
    </form>
    </span>
</div>
<form [formGroup]="formulario" autocomplete="off" *ngIf="idAcao !== 99">
    <h1>Lançamento:{{labelCadastro}}</h1>
    <div class="cad-container">
        <mat-form-field appearance="outline" class="MidleWidth">
            <mat-label>Entrada</mat-label>
            <input matInput autofocus formControlName="entrada" placeholder="HH:MM">
        </mat-form-field>
        <mat-form-field appearance="outline" class="MidleWidth">
            <mat-label>Saída</mat-label>
            <input matInput formControlName="saida" placeholder="HH:MM">
        </mat-form-field>
    </div>
    <div class="cad-container">
        <mat-form-field appearance="outline" class="LargeWidth">
            <mat-label>Atividade</mat-label>
            <input matInput formControlName="atividade" readonly="true">
        </mat-form-field>
        <mat-checkbox class="encerramento" formControlName="encerra">Encerrar Atividade</mat-checkbox>
    </div>
    <div class="cad-container">
        <mat-form-field appearance="outline" class="LargeWidth">
            <mat-label>Cliente</mat-label>
            <input matInput formControlName="cliente" readonly="true">
        </mat-form-field>
    </div>
    <div class="cad-container">
        <mat-form-field field appearance="outline" class="LargeWidth" *ngIf="( (idAcao != getAcoes()[ 'Consulta']) && (idAcao != getAcoes()[ 'Exclusao']))">
            <mat-label>Motivo</mat-label>
            <mat-select formControlName="id_motivo">
                <mat-option *ngFor="let motivo of motivos" [value]="motivo.codigo">
                    {{motivo.motivo}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="LargerWidth">
            <mat-label>Observação</mat-label>
            <input matInput formControlName="obs">
        </mat-form-field>
    </div>
    <div class="button-container-right">
        <button class="buttons" mat-raised-button color="primary" (click)=onSubmit()>{{acao}}</button>
        <button class="buttons" mat-raised-button color="accent" (click)="onCancel()">{{getLabelCancel()}}</button>
    </div>
</form>
<div *ngIf="idAcao == 99">
    <table>
        <tr class="coluna-cabec">
            <th>PLANEJADO</th>
            <th>EXECUTADO</th>
        </tr>
        <tr>
            <td class="coluna-descricao">
                <div *ngFor="let lanca of agendamentos">
                    <div *ngIf="true">
                        <mat-label class="labelTitle">Hora Inicial:</mat-label>
                        <mat-label class="labelData">{{lanca.inicial | date : 'HH:mm'}} as {{lanca.final | date : 'HH:mm'}}</mat-label>
                        <mat-label class="labelTitle">Hora Apontadas:</mat-label>
                        <mat-label class="labelData">{{lanca.horasapon | horaSexagenal}}</mat-label>
                    </div>
                    <div *ngIf="true">
                        <mat-label class="labelTitle" [matTooltip]="showDadosProjetoAgendamento(lanca)" matTooltipPosition="above">Projeto:</mat-label>
                        <mat-label class="labelData">{{lanca.id_projeto}}-{{lanca.projeto_descricao}}</mat-label>
                    </div>
                    <div *ngIf="true">
                        <mat-label class="labelTitle">Atividade:</mat-label>
                        <mat-label class="labelData">{{lanca.estru_descricao}}</mat-label>
                    </div>
                    <div *ngIf="true">
                        <mat-label class="labelTitle">Obs.::</mat-label>
                        <mat-label class="labelData">{{lanca.obs}}</mat-label>
                    </div>
                </div>
                <div *ngIf="agendamentos.length ==0">
                    <mat-label>Nenhum Planejamento Para Esta Data</mat-label>
                </div>
            </td>
            <td class="coluna-descricao">
                <div *ngFor="let lanca of apontamentos">
                    <div class="coluna-descricao cor-blue">
                        <mat-label class="labelTitle">Encerrou Atividade ?:</mat-label>
                        <mat-label class="labelData">{{lanca.encerramento | simNao }}</mat-label>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Alterar Apontamento" matTooltipPosition="above" (click)="outras(getAcoes()['Edicao'],lanca)">
                          <mat-icon>edit</mat-icon>
                       </button>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Excluir Apontamento" matTooltipPosition="above" (click)="outras(getAcoes()['Exclusao'],lanca)">
                          <mat-icon>delete</mat-icon>
                       </button>
                    </div>
                    <div class="coluna-descricao cor-blue">
                        <mat-label class="labelTitle">Horário:</mat-label>
                        <mat-label class="labelData">{{lanca.inicial | date : 'HH:mm'}} as {{lanca.final | date : 'HH:mm'}}</mat-label>
                        <mat-label class="labelTitle">Hora Apontadas:</mat-label>
                        <mat-label class="labelData">{{lanca.horasapon | horaSexagenal}}</mat-label>
                    </div>

                    <div class="coluna-descricao cor-blue">
                        <mat-label class="labelTitle" [matTooltip]="showDadosProjetoApontamento(lanca)" matTooltipPosition="above">Projeto:</mat-label>
                        <mat-label class="labelData">{{lanca.id_projeto}}-{{lanca.proj_descricao}}</mat-label>
                    </div>
                    <div class="coluna-descricao cor-blue">
                        <mat-label class="labelTitle">Atividade:</mat-label>
                        <mat-label class="labelData">{{lanca.estru_descricao}}</mat-label>
                    </div>
                    <div class="coluna-descricao cor-blue">
                        <mat-label class="labelTitle">Motivo:</mat-label>
                        <mat-label class="labelData">{{lanca.motivo_descricao}}</mat-label>
                    </div>
                    <div class="coluna-descricao cor-blue">
                        <mat-label class="labelTitle">Produtivo:</mat-label>
                        <mat-label class="labelData">{{lanca.motivo_produtivo}}</mat-label>
                    </div>
                    <div class="coluna-descricao cor-blue">
                        <mat-label class="labelTitle">Obs.::</mat-label>
                        <mat-label class="labelData">{{lanca.obs}}</mat-label>
                    </div>

                </div>
                <div *ngIf="apontamentos.length ==0">
                    <mat-label>Nenhum Apontamento Para Esta Data</mat-label>
                </div>
            </td>
        </tr>
    </table>
</div>
