.example-spacer {
    flex: 1 1 auto;
}

.button-container-right {
    display: flex;
    justify-content: right;
    height: min-content;
}

.Browse {
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    width: 100%;
    height: 500px;
}

table {
    width: 100%;
    cursor: pointer;
}

.linha {
    background-color: white;
}

.linha :hover {
    background-color: #CCCC99
}

.labelTitleFirst {
    font-size: large;
    color: #0000CC;
}

.labelTitle {
    font-size: large;
    color: #0000CC;
    margin-left: 5px;
}

.labelData {
    font-size: large;
    color: black;
    margin-left: 5px;
}

.button-right {
    display: flex;
    justify-content: right;
}