.example-spacer {
    flex: 1 1 auto;
}

.button-container-right {
    display: flex;
    justify-content: right;
}

.cabecalho {
    font: blue;
    font-size: 15px;
    font-weight: 300;
    justify-content: left;
}

.parametros-container .mat-form-field {
    margin-top: -15px;
    margin-left: 10px;
    height: 15px;
    font-size: 16px;
}

.Browse {
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    width: 100%;
    height: 500px;
}

table {
    width: 100%;
    cursor: pointer;
}

.Cabecalho {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    background-color: coral;
    text-align: center;
}

.Detalhe {
    margin-left: 5px;
    margin-right: 5px;
    height: 30px;
    color: black;
}

.linha {
    background-color: white;
}

.linha :hover {
    background-color: yellow;
}
